MONGO_URI = '...'
JWT_SECRET = 'jwt_secret_key'
EMAIL_VERIFIY_SECRET = 'email_verify_secret'
NODE_ENV = 'development'

CLIENT_URL = 'http://localhost:3000'
SERVER_URL = 'http://localhost:5000'

MAILER_EMAIL = 'realtimelearningplatform@gmail.com'
MAILER_PASSWORD = 'gyketoehqnvalxdp'

GOOGLE_CLIENT_ID = '546413396750-q74olkakngiehd6cf8ffp752fri9d8e9.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET = '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'